.idea/
.idea_modules/
.vscode/
__pycache__/
bin/
build/
dist/
lib/
lib64/
out/
target/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
lab02/project/BasicAPI/.venv/pyvenv.cfg
lab02/project/BasicAPI/.venv/Scripts/activate
lab02/project/BasicAPI/.venv/Scripts/activate_this.py
lab02/project/BasicAPI/.venv/Scripts/activate.bat
lab02/project/BasicAPI/.venv/Scripts/activate.fish
lab02/project/BasicAPI/.venv/Scripts/activate.nu
lab02/project/BasicAPI/.venv/Scripts/activate.ps1
lab02/project/BasicAPI/.venv/Scripts/deactivate.bat
lab02/project/BasicAPI/.venv/Scripts/pydoc.bat
lab05/password.txt
